<div class="row">
  <div class="col-md-4">
    <app-quote-form></app-quote-form>
  </div>

  <div class="col-md-6 offset-md-1">
    <hr>
    <div *ngFor='let quote of quotes; let i = index'>

      <div class="quote-box" id="{{i}}">
        <p>{{quote.quoteContent}}
          <span style="color: dodgerblue; font-weight: bold;">
            ~ {{quote.authorName}} </span>&ensp;
          <Span style="color: darkorange; font-size: 0.8em; ">{{quote.creationTime|timeCount}}</Span>
        </p>

        <app-user-vote></app-user-vote>
        <button type="submit" class="btn btn-danger" (click)="deleteQuote($event, i)">Delete</button>
        <hr>
      </div>

    </div>
  </div>
</div>
