.quote-box {
    border: solid;
    border-color: darkorange;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding-left: 2%;
    background-color: rgba(76, 255, 52, 0.3);
}

hr {
 border-color: hotpink;   
}