<div class="row">
  <div class="col-md-4">
    <hr>
    <form #quoteForm='ngForm'>

      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" required>
     Display {{newQuote.userName}}
      </div>

      <div class="form-group">
        <label for="description">Input quote</label>
        <textarea class="form-control" id="description" rows="8" [(ngModel)]="newQuote.description" name="name" required></textarea>
      </div>

      <button type="submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>
